.scrollable-div {
  background-color: #cfe0e8;
  height: 600px;
  /* width: 400px; */
  overflow-y: scroll;
  margin: 20px;
  text-align: justify;
  /* margin-bottom: 50px; */
  /* padding: 20px; */
}

.total {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  background-color: #bccad6;
}
.order {
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  background-color: #bccad6;
}

h2 {
  text-transform: uppercase;
}
