/* .beers {
  margin-top: 1vh;
  margin-bottom: 1vh;
} */

/* .ciders {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.longdrinks {
  margin-top: 1vh;
  margin-bottom: 1vh;
} */

.mainPage {
  /* background-color: #d6cbd3; */
  background-color: #bccad6;
}

.cartPage {
  background-color: #bccad6;
}
